Repository khmalz/tefa-digital, pull requests merged in 2023-11, with the labels that each got.

#28 Add/login with google oauth
  app/Http/Controllers/Auth/GoogleController.php
  app/Http/Controllers/Auth/RegisterController.php
  app/Models/User.php
  app/Providers/RouteServiceProvider.php
  composer.json
  composer.lock
  config/app.php
  config/services.php
  database/migrations/2014_10_12_000000_create_users_table.php
  resources/views/auth/login.blade.php
  routes/web.php
Labels: add

#29 fix/forget add user-role to those logged in with google
  app/Http/Controllers/Auth/GoogleController.php
  resources/views/client/dashboard.blade.php
  routes/web.php
Labels: fix

#30 Refactor/db using morph relation
  app/Http/Controllers/Admin/OrderListController.php
  app/Http/Controllers/DesignFormController.php
  app/Http/Controllers/PhotographyFormController.php
  app/Http/Controllers/PrintingFormController.php
  app/Http/Controllers/VideographyFormController.php
  app/Models/Admin/Design.php
  app/Models/Admin/Order.php
  app/Models/Admin/Photography.php
  app/Models/Admin/Printing.php
  app/Models/Admin/Videography.php
  app/Providers/AppServiceProvider.php
  database/migrations/2023_05_03_079544_create_orders_table.php
  database/migrations/2023_05_03_080119_create_photographies_table.php
  database/migrations/2023_05_03_080120_create_videographies_table.php
  database/migrations/2023_05_03_080121_create_designs_table.php
  database/migrations/2023_05_03_091956_create_printings_table.php
  resources/views/admin/order/all.blade.php
  resources/views/dashboard/layouts/sidebar.blade.php
  resources/views/vendor/pagination/bootstrap-5.blade.php
  routes/web.php
Labels: refactor

#31 fix: login using the google email that has been registered
  app/Http/Controllers/Auth/GoogleController.php
  app/Http/Controllers/Auth/LoginController.php
  app/Http/Controllers/Auth/RegisterController.php
  resources/views/auth/login.blade.php
  resources/views/auth/register.blade.php
Labels: fix

#32 Refactor/list order all
  app/Http/Controllers/Admin/DesignController.php
  app/Http/Controllers/Admin/OrderListController.php
  app/Http/Controllers/Admin/PhotographyController.php
  app/Http/Controllers/Admin/PrintingController.php
  app/Http/Controllers/Admin/VideographyController.php
  app/Http/Controllers/PDFController.php
  app/Models/Admin/Design.php
  app/Models/Admin/Photography.php
  app/Models/Admin/Printing.php
  app/Models/Admin/Videography.php
  resources/views/admin/order/all.blade.php
  resources/views/admin/order/detail.blade.php
  resources/views/dashboard/layouts/sidebar.blade.php
  routes/web.php
Labels: refactor

#33 Add/dynamic app name system
  app/Http/Controllers/Admin/ContactController.php
  app/Http/Controllers/Admin/ProfileAppController.php
  app/Http/Controllers/Auth/LoginController.php
  app/Models/Title.php
  app/Providers/AppServiceProvider.php
  app/Services/GenerateInvoice.php
  database/migrations/2023_11_15_132858_create_titles_table.php
  database/seeders/DatabaseSeeder.php
  resources/views/admin/contact/index.blade.php
  resources/views/auth/login.blade.php
  resources/views/auth/register.blade.php
  resources/views/contact/email.blade.php
  resources/views/dashboard/index.blade.php
  resources/views/dashboard/layouts/footer.blade.php
  resources/views/dashboard/layouts/main.blade.php
  resources/views/dashboard/layouts/sidebar.blade.php
  resources/views/index.blade.php
  resources/views/layouts/category-header.blade.php
  resources/views/layouts/form.blade.php
  resources/views/layouts/main.blade.php
  resources/views/layouts/subcategory-header.blade.php
  routes/web.php
Labels: add

#35 Add/activity log for order progression
  app/Http/Controllers/ActivityController.php
  app/Http/Controllers/Admin/OrderListController.php
  app/Notifications/OrderNotification.php
  database/migrations/2023_11_16_064444_create_notifications_table.php
  resources/views/auth/login.blade.php
  resources/views/auth/register.blade.php
  resources/views/contact/email.blade.php
  resources/views/layouts/main.blade.php
  resources/views/profile/activity.blade.php
  resources/views/profile/detail.blade.php
  resources/views/profile/edit.blade.php
  resources/views/profile/index.blade.php
  resources/views/profile/order-list.blade.php
  routes/web.php
Labels: add

#36 Fix/landing front page
  app/Http/Controllers/DesignUserController.php
  app/Http/Controllers/PhotographyUserController.php
  app/Http/Controllers/VideographyUserController.php
  resources/views/design/design-3d.blade.php
  resources/views/design/design-logo.blade.php
  resources/views/design/design-promosi.blade.php
  resources/views/design/form.blade.php
  resources/views/design/index.blade.php
  resources/views/index.blade.php
  resources/views/layouts/carousel-category.blade.php
  resources/views/layouts/category-header.blade.php
  resources/views/layouts/dropdown.blade.php
  resources/views/layouts/subcategory-header.blade.php
  resources/views/photography/form.blade.php
  resources/views/photography/foto-acara.blade.php
  resources/views/photography/foto-pernikahan.blade.php
  resources/views/photography/foto-produk.blade.php
  resources/views/photography/index.blade.php
  resources/views/printing/form.blade.php
  resources/views/printing/index.blade.php
  resources/views/videography/form.blade.php
  resources/views/videography/index.blade.php
  resources/views/videography/vid-dokumentasi.blade.php
  resources/views/videography/vid-syuting.blade.php
Labels: fix

#37 Add/error pages
  resources/views/errors/401.blade.php
  resources/views/errors/402.blade.php
  resources/views/errors/403.blade.php
  resources/views/errors/404.blade.php
  resources/views/errors/419.blade.php
  resources/views/errors/429.blade.php
  resources/views/errors/500.blade.php
  resources/views/errors/503.blade.php
  resources/views/errors/minimal.blade.php
Labels: add

#38 Refactor/asset img
  app/Http/Controllers/Admin/DesignCategoryController.php
  app/Http/Controllers/Admin/PhotographyCategoryController.php
  app/Http/Controllers/Admin/PortfolioController.php
  app/Http/Controllers/Admin/VideographyCategoryController.php
  database/seeders/DesignSeeder.php
  database/seeders/PhotographySeeder.php
  database/seeders/VideographySeeder.php
  public/assets/img/category/about-design.jpg
  public/assets/img/category/about-home.jpg
  public/assets/img/category/about-photography.jpg
  public/assets/img/category/about-printing.jpg
  public/assets/img/category/about-videography.jpg
  public/assets/img/category/carousel.jpg
  public/assets/img/category/placeholder.jpg
  public/assets/img/sub-category/design/3d-design.jpg
  public/assets/img/sub-category/design/logo.jpg
  public/assets/img/sub-category/design/promotion.jpg
  public/assets/img/sub-category/photography/event.jpg
  public/assets/img/sub-category/photography/product.jpg
  public/assets/img/sub-category/photography/wedding.jpg
  public/assets/img/sub-category/videography/documentation.jpg
  public/assets/img/sub-category/videography/shooting.jpg
  resources/views/admin/design/categories-edit.blade.php
  resources/views/admin/design/categories.blade.php
  resources/views/admin/order/detail.blade.php
  resources/views/admin/photography/categories-edit.blade.php
  resources/views/admin/photography/categories.blade.php
  resources/views/admin/portfolio/index.blade.php
  resources/views/admin/videography/categories-edit.blade.php
  resources/views/admin/videography/categories.blade.php
  resources/views/dashboard/layouts/main.blade.php
  resources/views/design/design-3d.blade.php
  resources/views/design/design-logo.blade.php
  resources/views/design/design-promosi.blade.php
  resources/views/design/index.blade.php
  resources/views/index.blade.php
  resources/views/layouts/carousel-category.blade.php
  resources/views/photography/foto-acara.blade.php
  resources/views/photography/foto-pernikahan.blade.php
  resources/views/photography/index.blade.php
  resources/views/printing/index.blade.php
  resources/views/profile/activity.blade.php
  resources/views/profile/detail.blade.php
  resources/views/profile/edit.blade.php
  resources/views/profile/index.blade.php
  resources/views/profile/order-list.blade.php
  resources/views/videography/index.blade.php
  resources/views/videography/vid-dokumentasi.blade.php
  resources/views/videography/vid-syuting.blade.php
Labels: refactor

#39 fix: Bug Data-Table portfolio
  app/Http/Controllers/Admin/PortfolioController.php
  resources/views/admin/portfolio/index.blade.php
Labels: fix

#41 Add/order edit
  app/Http/Controllers/ActivityController.php
  app/Http/Controllers/Admin/NotificationController.php
  app/Http/Controllers/DesignFormController.php
  app/Http/Controllers/OrderClientController.php
  app/Http/Controllers/PrintingFormController.php
  app/Http/Requests/PrintingRequest.php
  app/Models/Admin/Printing.php
  app/Notifications/UpdateOrderNotification.php
  database/migrations/2023_05_03_091956_create_printings_table.php
  resources/views/admin/dashboard/layouts/sidebar.blade.php
  resources/views/admin/notification/index.blade.php
  resources/views/admin/order/detail.blade.php
  resources/views/profile/order-edit/design.blade.php
  resources/views/profile/order-edit/layout.blade.php
  resources/views/profile/order-edit/photography.blade.php
  resources/views/profile/order-edit/printing.blade.php
  resources/views/profile/order-edit/videography.blade.php
  resources/views/profile/order-list.blade.php
  routes/web.php
Labels: add

#42 Add/cancel order
  app/Http/Controllers/Admin/OrderListController.php
  app/Http/Controllers/OrderClientController.php
  resources/views/admin/order/all.blade.php
  resources/views/profile/detail.blade.php
  resources/views/profile/order-list.blade.php
  routes/web.php
Labels: add

#43 fix: phone number must be started with 08/628/+628
  app/Http/Requests/Admin/ContactRequest.php
  app/Http/Requests/DesignRequest.php
  app/Http/Requests/PhotographyRequest.php
  app/Http/Requests/PrintingRequest.php
  app/Http/Requests/VideographyRequest.php
  resources/views/design/form.blade.php
  resources/views/photography/form.blade.php
  resources/views/printing/form.blade.php
  resources/views/videography/form.blade.php
Labels: fix

#44 feat: update which previously only allowed Indonesian numbers
  app/Http/Requests/DesignRequest.php
  app/Http/Requests/PhotographyRequest.php
  app/Http/Requests/PrintingRequest.php
  app/Http/Requests/VideographyRequest.php
  resources/views/design/form.blade.php
  resources/views/photography/form.blade.php
  resources/views/printing/form.blade.php
  resources/views/videography/form.blade.php
Labels: fix

#45 refactor: readme
  README.md
Labels: documentation

#46 Fix/prevent issues
  app/Http/Controllers/Auth/LoginController.php
  app/Http/Controllers/Auth/RegisterController.php
  app/Http/Kernel.php
  app/Http/Middleware/GoogleConfigCheckMiddleware.php
  app/Http/Resources/DesignCollection.php
  app/Http/Resources/DesignResource.php
  app/Http/Resources/PhotographyCollection.php
  app/Http/Resources/PhotographyResource.php
  app/Http/Resources/PrintingCollection.php
  app/Http/Resources/PrintingResource.php
  app/Http/Resources/VideographyCollection.php
  app/Http/Resources/VideographyResource.php
  resources/views/auth/login.blade.php
  resources/views/auth/register.blade.php
  routes/api.php
  routes/web.php
  tests/Feature/DesignImageTest.php
  tests/Feature/DesignTest.php
  tests/Feature/PhotographyTest.php
  tests/Feature/VideographyTest.php
  tests/Unit/OrderServiceTest.php
Labels: fix

#48 Refactor/clean php code
  app/Events/UpdateOrderEvent.php
  app/Http/Controllers/Admin/DesignCategoryController.php
  app/Http/Controllers/Admin/DesignPlanController.php
  app/Http/Controllers/Admin/OrderListController.php
  app/Http/Controllers/Admin/PhotographyCategoryController.php
  app/Http/Controllers/Admin/PhotographyPlanController.php
  app/Http/Controllers/Admin/VideographyCategoryController.php
  app/Http/Controllers/Admin/VideographyPlanController.php
  app/Http/Controllers/DesignFormController.php
  app/Http/Controllers/OrderClientController.php
  app/Http/Controllers/OrderClientSystemController.php
  app/Http/Controllers/PDFController.php
  app/Http/Controllers/PhotographyFormController.php
  app/Http/Controllers/PrintingFormController.php
  app/Http/Controllers/VideographyFormController.php
  app/Listeners/SendUpdateOrderNotification.php
  app/Models/Admin/Order.php
  app/Providers/EventServiceProvider.php
  app/Services/CategoryService.php
  app/Services/FormService.php
  database/seeders/DatabaseSeeder.php
  database/seeders/OrderSeeder.php
  resources/views/admin/notification/index.blade.php
  resources/views/admin/order/all.blade.php
  resources/views/profile/detail.blade.php
  resources/views/profile/order-list.blade.php
  routes/web.php
Labels: refactor

#50 Fix/number validate maks
  app/Http/Requests/DesignRequest.php
  app/Http/Requests/PhotographyRequest.php
  app/Http/Requests/PrintingRequest.php
  app/Http/Requests/VideographyRequest.php
Labels: fix

#51 merge dev to main
  app/Http/Requests/DesignRequest.php
  app/Http/Requests/PhotographyRequest.php
  app/Http/Requests/PrintingRequest.php
  app/Http/Requests/VideographyRequest.php
Labels: dev-main
